In [1]:
#Libraries

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# preparing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, explained_variance_score

# modeling and evaluating
from sklearn.linear_model import LinearRegression, LassoLars
from sklearn.linear_model import TweedieRegressor
from sklearn.feature_selection import RFE
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler
from sklearn.preprocessing import PolynomialFeatures

# Exploring
import scipy.stats as stats
import math

# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve
%matplotlib inline

# default pandas decimal number display format
# pd.options.display.float_format = '{:20,.2f}'.format

# import acquire
# import summarize
# import prepare

pd.options.display.float_format = '{:20,.2f}'.format

In [2]:
import os
import env

credentials loaded successfully

In [3]:
import acquire
import wrangle_zillow

End of file.
Loaded zillow wrangle functions successfully.

## Acquire

In [ ]:
tips = sns.load_dataset('tips')
tips.shape

In [ ]:
tips.head()

In [ ]:
tips.info()

In [ ]:
tips.describe()

## Prepare

In [ ]:
# Fill mall prep/explore later - Maggie suggested I focus on the Zillow data.

# Zillow Database

## Acquire and Prep

In [4]:
df = acquire.get_zillow_data()
df.shape

(77381, 70)

In [5]:
id_list = [261.0, 260.0, 262.0, 263.0, 264.0]

In [6]:
df = wrangle_zillow.property_type_focus(df, id_list)
df.shape

(52437, 70)

In [7]:
df = wrangle_zillow.handle_missing_values(df)
df.shape

(52437, 32)

In [8]:
# Now splitting the dataframe:

train, validate, test = wrangle_zillow.split_zillow_data(df)
train.head()

Shape of train df: (35656, 32)
Shape of validate df: (8915, 32)
Shape of test df: (7866, 32)

,parcelid,propertylandusetypeid,heatingorsystemtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,...,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,pid,tdate,heatingorsystemdesc,propertylandusedesc
9322,11769252,261.00,2.00,2.00,3.00,6.00,"1,168.00","1,168.00","6,037.00",2.00,...,"179,231.00","2,016.00","138,765.00","2,244.26","60,372,282,203,004.00",0.02,11769252,2017-02-13,Central,Single Family Residential
37985,13885646,261.00,nan,2.00,3.00,nan,"1,286.00","1,286.00","6,059.00",2.00,...,"135,979.00","2,016.00","43,007.00","1,678.70","60,590,760,002,004.00",-0.04,13885646,2017-05-19,NaN,Single Family Residential
4751,14190000,261.00,nan,2.50,4.00,nan,"2,114.00","2,114.00","6,059.00",2.00,...,"114,314.00","2,016.00","44,303.00","1,512.32","60,590,218,161,008.00",-0.04,14190000,2017-01-23,NaN,Single Family Residential
45321,11712736,261.00,7.00,1.00,3.00,6.00,"1,151.00","1,151.00","6,037.00",1.00,...,"471,018.00","2,016.00","359,935.00","5,756.00","60,372,360,001,003.00",-0.07,11712736,2017-06-12,Floor/Wall,Single Family Residential
65834,10932423,261.00,2.00,3.00,4.00,7.00,"2,909.00","2,909.00","6,037.00",3.00,...,"1,012,640.00","2,016.00","853,682.00","12,280.04","60,371,436,031,000.00",0.10,10932423,2017-08-11,Central,Single Family Residential