In [1]:
#Libraries

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# preparing
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, explained_variance_score

# modeling and evaluating
from sklearn.linear_model import LinearRegression, LassoLars
from sklearn.linear_model import TweedieRegressor
from sklearn.feature_selection import RFE
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler
from sklearn.preprocessing import PolynomialFeatures

# Exploring
import scipy.stats as stats
import math

# Visualizing
import matplotlib.pyplot as plt
from matplotlib import cm
import seaborn as sns
from sklearn.model_selection import learning_curve
%matplotlib inline

# default pandas decimal number display format
# pd.options.display.float_format = '{:20,.2f}'.format

# import acquire
# import summarize
# import prepare

pd.options.display.float_format = '{:20,.2f}'.format

In [2]:
import os
import env

credentials loaded successfully

In [3]:
import acquire
import wrangle_zillow

End of file.
Loaded zillow wrangle functions successfully.

## Acquire

In [ ]:
tips = sns.load_dataset('tips')
tips.shape

In [ ]:
tips.head()

In [ ]:
tips.info()

In [ ]:
tips.describe()

## Prepare

In [ ]:
# Fill mall prep/explore later - Maggie suggested I focus on the Zillow data.

# Zillow Database

## Acquire and Prep

In [4]:
df = wrangle_zillow.get_zillow_data()
df.shape

(77381, 70)

In [5]:
id_list = [261.0, 260.0, 262.0, 263.0, 264.0]

In [6]:
df = wrangle_zillow.property_type_focus(df, id_list)
df.shape

(52437, 70)

In [7]:
df = wrangle_zillow.handle_missing_values(df)
df.shape

(52435, 31)

In [8]:
# Now splitting the dataframe:

train, validate, test = wrangle_zillow.split_zillow_data(df)
train.head()

Shape of train df: (35655, 31)
Shape of validate df: (8914, 31)
Shape of test df: (7866, 31)

,parcelid,propertylandusetypeid,heatingorsystemtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,tdate,heatingorsystemdesc,propertylandusedesc
76005,12022856,261.00,2.00,2.00,2.00,8.00,"1,832.00","1,832.00","6,037.00",2.00,...,"123,346.00","437,945.00","2,016.00","314,599.00","5,467.09","60,371,942,001,019.00",0.46,2017-09-13,Central,Single Family Residential
47799,14359299,261.00,nan,0.00,0.00,nan,nan,nan,"6,059.00",nan,...,"458,846.00","1,244,873.00","2,016.00","786,027.00","22,416.08",nan,0.01,2017-06-19,NaN,Single Family Residential
3673,11010220,261.00,2.00,6.00,5.00,8.00,"3,993.00","3,993.00","6,037.00",6.00,...,"341,000.00","773,000.00","2,016.00","432,000.00","9,577.04","60,371,066,031,031.00",0.18,2017-01-18,Central,Single Family Residential
31706,14036322,261.00,nan,2.00,4.00,nan,"1,918.00","1,918.00","6,059.00",2.00,...,"50,880.00","79,646.00","2,016.00","28,766.00","1,126.72","60,590,996,034,003.00",0.02,2017-05-01,NaN,Single Family Residential
25053,14504014,261.00,6.00,2.00,3.00,nan,"1,352.00","1,352.00","6,059.00",2.00,...,"145,962.00","609,000.00","2,016.00","463,038.00","6,293.72","60,590,320,311,007.00",0.02,2017-04-11,Forced air,Single Family Residential

In [10]:
train, validate, test = wrangle_zillow.imputing_missing_values_all(train, validate, test)

In [11]:
train.shape

(35655, 31)

In [13]:
pd.options.display.max_columns = 50
train.head()

,parcelid,propertylandusetypeid,heatingorsystemtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,propertycountylandusecode,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,tdate,heatingorsystemdesc,propertylandusedesc
76005,12022856,261.00,2.00,2.00,2.00,8.00,"1,832.00","1,832.00","6,037.00",2.00,"34,107,092.00","-118,382,549.00","8,699.00",0100,"60,371,942.00","12,447.00","3,101.00","96,027.00",0.00,1.00,"1,942.00","123,346.00","437,945.00","2,016.00","314,599.00","5,467.09","60,371,942,001,019.00",0.46,2017-09-13,Central,Single Family Residential
47799,14359299,261.00,2.00,0.00,0.00,6.00,"1,659.00","1,661.00","6,059.00",2.00,"33,701,580.00","-117,728,214.00","6,825.00",1,"60,590,524.26","52,650.00","1,286.00","96,952.00",0.00,1.00,"1,955.00","458,846.00","1,244,873.00","2,016.00","786,027.00","22,416.08","60,379,201,162,006.00",0.01,2017-06-19,None,Single Family Residential
3673,11010220,261.00,2.00,6.00,5.00,8.00,"3,993.00","3,993.00","6,037.00",6.00,"34,308,203.00","-118,505,716.00","9,983.00",0100,"60,371,066.03","12,447.00","3,101.00","96,370.00",0.00,1.00,"1,967.00","341,000.00","773,000.00","2,016.00","432,000.00","9,577.04","60,371,066,031,031.00",0.18,2017-01-18,Central,Single Family Residential
31706,14036322,261.00,2.00,2.00,4.00,6.00,"1,918.00","1,918.00","6,059.00",2.00,"33,739,686.00","-118,037,387.00","6,732.00",122,"60,590,996.03","25,218.00","1,286.00","96,967.00",8.00,1.00,"1,962.00","50,880.00","79,646.00","2,016.00","28,766.00","1,126.72","60,590,996,034,003.00",0.02,2017-05-01,None,Single Family Residential
25053,14504014,261.00,6.00,2.00,3.00,6.00,"1,352.00","1,352.00","6,059.00",2.00,"33,645,775.00","-117,645,271.00","6,300.00",122,"60,590,320.31","12,773.00","1,286.00","96,995.00",5.00,1.00,"1,978.00","145,962.00","609,000.00","2,016.00","463,038.00","6,293.72","60,590,320,311,007.00",0.02,2017-04-11,Forced air,Single Family Residential

## Scaling data

In [14]:
scaler = MinMaxScaler()

In [16]:
num_vars = list(train.select_dtypes('number').columns)

In [15]:
train.select_dtypes('number')

,parcelid,propertylandusetypeid,heatingorsystemtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror
76005,12022856,261.00,2.00,2.00,2.00,8.00,"1,832.00","1,832.00","6,037.00",2.00,"34,107,092.00","-118,382,549.00","8,699.00","60,371,942.00","12,447.00","3,101.00","96,027.00",0.00,1.00,"1,942.00","123,346.00","437,945.00","2,016.00","314,599.00","5,467.09","60,371,942,001,019.00",0.46
47799,14359299,261.00,2.00,0.00,0.00,6.00,"1,659.00","1,661.00","6,059.00",2.00,"33,701,580.00","-117,728,214.00","6,825.00","60,590,524.26","52,650.00","1,286.00","96,952.00",0.00,1.00,"1,955.00","458,846.00","1,244,873.00","2,016.00","786,027.00","22,416.08","60,379,201,162,006.00",0.01
3673,11010220,261.00,2.00,6.00,5.00,8.00,"3,993.00","3,993.00","6,037.00",6.00,"34,308,203.00","-118,505,716.00","9,983.00","60,371,066.03","12,447.00","3,101.00","96,370.00",0.00,1.00,"1,967.00","341,000.00","773,000.00","2,016.00","432,000.00","9,577.04","60,371,066,031,031.00",0.18
31706,14036322,261.00,2.00,2.00,4.00,6.00,"1,918.00","1,918.00","6,059.00",2.00,"33,739,686.00","-118,037,387.00","6,732.00","60,590,996.03","25,218.00","1,286.00","96,967.00",8.00,1.00,"1,962.00","50,880.00","79,646.00","2,016.00","28,766.00","1,126.72","60,590,996,034,003.00",0.02
25053,14504014,261.00,6.00,2.00,3.00,6.00,"1,352.00","1,352.00","6,059.00",2.00,"33,645,775.00","-117,645,271.00","6,300.00","60,590,320.31","12,773.00","1,286.00","96,995.00",5.00,1.00,"1,978.00","145,962.00","609,000.00","2,016.00","463,038.00","6,293.72","60,590,320,311,007.00",0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,11472929,261.00,2.00,3.00,3.00,11.00,"3,148.00","3,148.00","6,037.00",3.00,"33,926,213.00","-118,411,319.00","8,998.00","60,376,201.01","55,753.00","3,101.00","96,103.00",0.00,1.00,"1,981.00","326,036.00","576,985.00","2,016.00","250,949.00","6,591.77","60,376,201,011,012.00",0.04
23715,10834503,261.00,2.00,2.00,3.00,8.00,"1,739.00","1,739.00","6,037.00",2.00,"34,197,669.00","-118,508,144.00","6,790.00","60,371,320.02","12,447.00","3,101.00","96,415.00",0.00,1.00,"1,956.00","151,333.00","261,528.00","2,016.00","110,195.00","3,194.72","60,371,320,023,000.00",-0.01
69092,10762761,261.00,2.00,2.00,3.00,6.00,"1,902.00","1,902.00","6,037.00",2.00,"34,218,628.00","-118,536,744.00","8,099.00","60,371,310.10","12,447.00","3,101.00","96,364.00",0.00,1.00,"1,956.00","79,763.00","342,557.00","2,016.00","262,794.00","4,242.57","60,371,310,101,001.00",0.06
5776,10828087,261.00,2.00,3.00,4.00,8.00,"2,039.00","2,039.00","6,037.00",3.00,"34,202,932.00","-118,441,479.00","6,854.00","60,371,271.02","12,447.00","3,101.00","96,414.00",0.00,1.00,"1,953.00","182,154.00","383,440.00","2,016.00","201,286.00","4,801.78","60,371,271,022,000.00",-0.03
71042,14272841,261.00,2.00,2.00,4.00,6.00,"1,165.00","1,165.00","6,059.00",2.00,"33,655,892.00","-117,925,519.00","6,218.00","60,590,638.08","38,032.00","1,286.00","96,959.00",7.00,1.00,"1,955.00","50,164.00","538,082.00","2,016.00","487,918.00","4,250.25","60,590,638,082,005.00",0.07

In [17]:
print('Scaling {}, and {}...'.format(', '.join(num_vars[:-1]), num_vars[-1]))
train[num_vars] = scaler.fit_transform(train[num_vars])

Scaling parcelid, propertylandusetypeid, heatingorsystemtypeid, bathroomcnt, bedroomcnt, buildingqualitytypeid, calculatedfinishedsquarefeet, finishedsquarefeet12, fips, fullbathcnt, latitude, longitude, lotsizesquarefeet, rawcensustractandblock, regionidcity, regionidcounty, regionidzip, roomcnt, unitcnt, yearbuilt, structuretaxvaluedollarcnt, taxvaluedollarcnt, assessmentyear, landtaxvaluedollarcnt, taxamount, censustractandblock, and logerror...

In [18]:
train.describe()

,parcelid,propertylandusetypeid,heatingorsystemtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror
count,"35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00","35,655.00"
mean,0.01,0.25,0.10,0.13,0.24,0.47,0.08,0.08,0.16,0.07,0.46,0.67,0.00,0.17,0.07,0.68,0.00,0.13,0.00,0.62,0.02,0.01,0.00,0.01,0.01,0.17,0.47
std,0.02,0.02,0.10,0.06,0.07,0.13,0.05,0.05,0.28,0.06,0.19,0.19,0.01,0.28,0.12,0.44,0.02,0.21,0.01,0.17,0.03,0.02,0.00,0.01,0.02,0.28,0.02
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.01,0.25,0.04,0.11,0.21,0.45,0.05,0.05,0.00,0.06,0.33,0.56,0.00,0.00,0.02,0.00,0.00,0.00,0.00,0.52,0.01,0.00,0.00,0.00,0.00,0.00,0.47
50%,0.01,0.25,0.04,0.11,0.21,0.45,0.07,0.07,0.00,0.06,0.46,0.69,0.00,0.01,0.05,1.00,0.00,0.00,0.00,0.60,0.01,0.01,0.00,0.00,0.01,0.01,0.47
75%,0.02,0.25,0.04,0.17,0.29,0.55,0.10,0.10,0.30,0.12,0.58,0.80,0.00,0.30,0.09,1.00,0.00,0.33,0.00,0.73,0.02,0.01,0.00,0.01,0.01,0.30,0.47
max,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.00,1.00,1.00,1.00,1.00

In [19]:
validate.describe()

,parcelid,propertylandusetypeid,heatingorsystemtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,rawcensustractandblock,regionidcity,regionidcounty,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror
count,"8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00","8,914.00"
mean,"13,004,673.46",261.00,3.29,2.31,3.30,6.18,"1,923.38","1,925.18","6,049.29",2.25,"34,023,887.25","-118,193,965.62","10,353.45","60,495,988.14","33,053.29","2,519.18","96,605.04",1.88,1.00,"1,963.36","197,122.63","530,965.01","2,016.00","334,049.09","6,456.50","60,543,106,219,737.02",0.02
std,"3,282,444.33",0.09,2.31,1.03,0.96,1.39,982.77,981.14,21.15,0.99,"276,197.94","356,881.71","26,311.94","209,914.62","48,808.53",805.51,"3,238.30",3.12,0.01,23.28,"245,394.51","726,667.77",0.00,"539,021.94","8,342.51","4,480,248,232,756.95",0.17
min,"10,711,877.00",260.00,2.00,0.00,0.00,2.00,240.00,240.00,"6,037.00",1.00,"33,393,644.00","-119,378,658.00",540.00,"60,371,011.10","4,406.00","1,286.00","95,982.00",0.00,1.00,"1,882.00",896.00,"10,504.00","2,016.00","2,250.00",49.18,"60,371,011,101,001.00",-2.24
25%,"11,521,880.00",261.00,2.00,2.00,3.00,6.00,"1,272.00","1,277.00","6,037.00",2.00,"33,825,676.00","-118,398,581.00","5,551.75","60,374,017.01","12,447.00","1,286.00","96,206.00",0.00,1.00,"1,950.00","76,858.50","190,983.50","2,016.00","77,469.00","2,659.11","60,374,017,282,514.00",-0.03
50%,"12,576,857.50",261.00,2.00,2.00,3.00,6.00,"1,663.50","1,662.00","6,037.00",2.00,"34,022,475.50","-118,153,169.00","6,865.00","60,376,210.03","24,812.00","3,101.00","96,414.00",0.00,1.00,"1,961.00","133,000.00","376,788.00","2,016.00","219,936.00","4,666.65","60,376,211,526,011.00",0.01
75%,"14,146,603.25",261.00,6.00,3.00,4.00,7.00,"2,302.75","2,302.00","6,059.00",3.00,"34,189,720.50","-117,930,102.75","8,801.75","60,590,423.27","40,227.00","3,101.00","96,996.00",5.00,1.00,"1,979.00","230,333.50","620,705.25","2,016.00","410,577.00","7,355.18","60,590,423,271,015.75",0.04
max,"167,636,512.00",264.00,20.00,9.00,9.00,12.00,"11,020.00","11,020.00","6,111.00",9.00,"34,818,767.00","-117,559,641.00","941,333.00","61,110,091.00","396,556.00","3,101.00","399,675.00",13.00,2.00,"2,016.00","7,507,773.00","23,858,374.00","2,016.00","16,350,601.00","276,797.83","483,030,105,084,015.00",2.59